<form class="mt-4 row g-3" method="GET" action="/news">

    <div class="col-auto">
        <label for="search-input" class="visually-hidden">Từ khoá</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá...">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
    </div>
</form>
